<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Veterinaria.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Veterinaria"
            providerName="System.Data.OleDb" />
        <add name="Veterinaria.Properties.Settings.ConnectionString1"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-KTF4A04\MSSQLSERVER02;Integrated Security=SSPI;Initial Catalog=_BD_VETERINARIA_ULTIMA"
            providerName="System.Data.OleDb" />
        <add name="Veterinaria.Properties.Settings.ConnectionString2"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-KTF4A04\MSSQLSERVER02;Integrated Security=SSPI;Initial Catalog=BD_VETERINARIA"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>